body {
    font-family: 'Lato', sans-serif;
    background: radial-gradient(circle, #D6E9FF 20%, #3A7AC3 100%);
}

.title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #3A7AC4;
    font-size: 1.8rem;
}

.login-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
}

form {
    background-color: #f4f4f4;
    color: #3A7AC4;
    text-align: center;
    height: 55vh;
    width: 55vh;
}