body {
    font-family: 'Lato', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    gap: 30px;
    max-width: 1500px;
    margin: auto;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 300px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

form p {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #444;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
    background-color: #fdfdfd;
}

.submit-btn {
    padding: 10px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #0069d9;
}

.cancel-link {
    display: inline-block;
    margin-top: 15px;
    color: #555;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.cancel-link:hover {
    text-decoration: underline;
}

.prescription-list {
    list-style-type: none;
    padding-left: 0;
}

.prescription-list li {
    background-color: #f1f7ff;
    border: 1px solid #d1e3f3;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
}

