<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Production</title>
</head>
<body>
    {% include 'nav_bar.html' %}
    <h1>QP List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Prescription ID</th>
                <th>Patient Name</th>
                <th>Prescription Drug</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for prescription in prescriptions %}
            <tr>
                <td>{{ prescription.id }}</td>
                <td>{{ prescription.patient }}</td>
                <td>{{ prescription.drug }}</td>
                <td>{{ prescription.quantity }}</td>
                <td><a href="{% url 'production_detail' prescription.pk %}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
</body>
</html>