<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>

    <header class="nav-bar">
        <h1>PharmaNext</h1>
    </header>

    <div class="menu-cards">
        <div class="QT">
            <h2><a href="/QT">Rx Pending (QT)</a></h2>
        </div>
        <div class="QP">
            <h2><a href="/QP">Rx Production (QP)</a></h2>
        </div>
        <div class="QV">
            <h2><a href="/QV">Rx Verification (QV)</a></h2>
        </div>
        <div class="inventory">
            <h2><a href="/inventory">Inventory Management</a></h2>
        </div>
        <div class="patients">
            <h2>Patient Management</h2>
        </div>
    </div>

</body>
</html>